section.section--light.about
  .container
    .row 
      .offset-md-1.col-md-6
        +text-block(
          'О КОМПАНИИ', 
          'Дорогие друзья! От имени команды Artendo textile studio, приветствую Вас на нашем сайте.', 
          'Премиальный европейский текстиль – одно из самых главных направлений работы коллектива. Создавать неповторимые интерьеры для наших дорогих клиентов, уделяя внимание мельчайшим деталям – вот то,  что по-настоящему вдохновляет дизайнеров нашей студии.', 
          'Наш коллектив сделает все, чтобы после сотрудничества с нами,  Вам было приятно сказать: « Да! Это именно то, что действительно достойно моего дома!»'
        )
      .offset-md-1.col-md-3.about__image--aside
        +image(
          '../../images/about-1.jpg', 
          'about-1'
        )
        p.note Недавно мы писали статью о тканях, которые используем в работе, и источниках вдохновения.
    .row
      .col-md-12.text-highlighted
        p Понимание тенденций рынка и особенностей менталитета наших клиентов приводит нас к созданию ценной концепции. Все проекты, которые мы делаем, созданы для людей. И это наш приоритет.
    .row
      .offset-md-1.col-md-6
        .text-block__text Мы предлагаем только лучшее и нам важно, чтобы все идеально сочеталось, будь то классический или современный интерьер. Самые последние коллекции, созданные европейскими дизайнерами  – мастерами своего дела из лучших тканей,  всегда на нашем складе.
    .row
      .offset-md-1.col-md-10.about__image--center
        +image(
          '../../images/about-2.jpg',
          'about-2'
        )
        p.aside Подушки <a>Elixir №3</a> и <a>Elixir №21</a> из зимней коллекции 2020 года
        p.note Мы не хотим просто делать текстиль. Мы хотим его создать. Мы хотим, чтобы он  был  исключительным  и отличался, сохраняя качество на максимальном уровне.
      
