section.section.collections
  .container
    .row
      .offset-md-1.col-md-6
        +text-block(
          'Метаморфозы', 
          'В нашем ассортименте представлено 258 коллекций, новые поставки происходят регулярно так как мы следим   за трендами, актуальными новинками и посещаем международные выставки.'
        )
    .row
      .col-md-6
        +image(
          '../../images/collections/top-left.jpg', 
          'image-1'
        )
      .col-md-6
        +image(
          '../../images/collections/top-right-1.jpg', 
          'image-2'
        )
        +image(
          '../../images/collections/top-right-2.jpg', 
          'image-3'
        )
    .row
      .col-md-6
        +image(
          '../../images/collections/bottom-left-1.jpg', 
          'image-4'
        )
        +image(
          '../../images/collections/bottom-left-2.jpg', 
          'image-5'
        )
      .col-md-6
        +image(
          '../../images/collections/bottom-right.jpg', 
          'image-6'
        )



    