footer.section--dark.footer
  .container.container--footer
    .footer__heading
      h2.heading мы всегда рады общению
    .footer__text
      p.text.text--opaque Оставьте свои контакты. Менеджер перезвонит в удобное вам время и ответит на все вопросы.
    .form.footer__form
      .form__input-wrapper
        input.form__input(placeholder="Ваше имя")
      .form__input-wrapper
        input.form__input(placeholder="Введите телефон") 
      .form__row
        .form__select
          //- include Select.js
        .form__checkbox
          input#agree(type="checkbox", name="agree" checked)
          label(for="agree") Согласие на обработку персональных данных
      button.button(type="submit") Оставить заявку
    .footer__map
      .map
        img(src="../../images/footer-map-placeholder.jpg", alt="map")