header.section.header
    .container
        .row
            .col-md-4.header__logo
                +svg('abojur')
                p Студия дизайнерского текстиля в Санкт-Петербурге
            .offset-md-2.col-md-2.header__call
                a(href="tel:+79818574624") +7 (981) 857-46-24
                button заказать звонок
            .col-md-3.header__address
                address Санкт Петербург, набережная реки Карповки, дом 5, литер П
            .col-md-1.header__menu
                +svg('menu') 

