header.header
  .container
    .logo
      img(src="../../images/abojur.svg", alt="abojur-logo", 
        width="141" height="51")
      p.logo__text Студия дизайнерского текстиля в Санкт-Петербурге
    .phone
      a(href="tel:") +7 (981) 857-46-24
      button заказать звонок
    .address Санкт-Петербург, набережная реки Карповки, дом 5, литер П 
    .menu
      img(src="../../images/sprite/stack/sprite.svg#menu", alt="menu", 
        )