section.section.mission
  .container
    .row 
      .col-md-6.mission__video
        +image(
          '../../images/mission-video-preview.jpg', 
          'video-placeholder'
        )
      .offset-md-1.col-md-5
        +text-block(
          'НАША МИССИЯ И ВИДЕНИЕ', 
          'Мы не хотим просто делать текстиль. Мы хотим, чтобы он  был  исключительным  и отличался, сохраняя качество на максимальном уровне.', 
          'Продукты ABOJUR гарантируют вам оригинальный дизайн с превосходной отделкой ткани и изумительными элементами декора, которые сделают ваш интерьер уникальным.'
        ) 
    .row
      .offset-md-3.col-md-3.mission__small-image
        +image(
          '../../images/mission-small.jpg', 
          'image-small'
        )
      .col-md-6.mission__large-image
        +image(
          '../../images/mission-big.jpg', 
          'image-large'
        )

