section.section.projects
  .container
    .row
      .offset-md-1.col-md-4 
        +text-block('НАМ ЕСТЬ, ЧЕМ ГОРДИТЬСЯ!')
    .row
      .offset-md-1.col-md-10.slider
        .slide
          +image(
            '../../images/projects/project-1.jpg', 
            'project'
          )
          .slide__caption
            p Oформление коттеджа 
            a(href="#") подробнее
            