section.section.slogan
  .container
    .row
      .offset-md-1.col-md-5
        +text-block(
          'создадим эмоцию вашего интерьера', 
          'Интерьерный текстиль по индивидуальным размерам с доставкой на дом')
        button.button ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
      .col-md-6
        +image(
          '../../images/header-image.jpg', 
          'header-image'
        )
