section.section.team
  .container
    .row
      .offset-md-1.col-md-6 
        +text-block(
          'НАША творческая КОМАНДА', 
          'Мы - студия текстиля и дизайна, которая хочет стать частью большой истории. Будь то уютный стул, цветочное растение или стена, которую нужно разрушить, чтобы расширить комнату, все это одинаково важно для нас.', 
          'Работая по всей России, мы заботимся о том, как ваше пространство выглядит, чувствует и говорит. Все проекты созданы для людей. И это наш приоритет.'
        )
      .offset-md-1.col-md-4
        p.team__note Мы разработали проекты различного масштаба и имеем большой опыт работы во всех регионах. 
    .row
      .col-md-12.team__image
        +image(
          '../../images/team.jpg', 
          'image-team'
        )   