mixin product-content(imgSrc, imgAlt, name, price)
  .product-card__image
    img.image--responsive(src= imgSrc, alt= imgAlt)
  .product-card__description
    h3.product-card__heading= name
    p.product-card__price от #{price} ₽
    p.product-card__note *стоимость варьируется в зависимости от размера изделия
    button.product-card__order заказать

mixin product(imgSrc, imgAlt, name, price, orientation)
  if orientation == 'horisontal'
    .product-card.product-card--horisontal
      +product-content(imgSrc, imgAlt, name, price)
  if orientation == 'vertical'
    .product-card.product-card--vertical
      +product-content(imgSrc, imgAlt, name, price)
