.form-search {
  margin-right: 20px;
  display: flex;

  &__input {
    font-size: 16px;
    opacity: 0.7;
    mix-blend-mode: normal;
    line-height: 11px;
    padding-left: 16px;
    border: 1px solid rgba(34, 62, 105, 0.1);
    border-radius: 5px;
    width: 240px;
    margin-right: 20px;
  }
}

.devices-buttons {
  display: flex;
  border: 1px solid rgba(17,34,62, 0.07);
  border-radius: 5px;

  &__button {
    font-size: 14px;
    line-height: 9px;
    color: #11223E;
    border: none;
    background-color: white;
    width: 105px;
    opacity: 0.5;
    cursor: pointer;

    &--active {
      opacity: 1;
      border: 1px solid rgba(34, 62, 105, 0.2);
      border-radius: 5px 0px 0px 5px;
    }
  }
}

.download-buttons {
  align-self: center;
  margin-left: auto;
  display: flex;
  height: 40px;

  &__button {
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;

    &--download {
      border: 1px solid rgba(34,62,105, 0.2);
    }

    &--add-query {
      background: #FC3969;
      box-shadow: 0px 3px 7px rgba(252, 57, 105, 0.3);
      color: white;
      margin-left: 20px;
    }
  }
}

.message {
  background: rgba(248,231,28, 0.215);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__first {
    font-size: 12px;
    height: 18px;
    background-color: white;
    padding-left: 6px;
    padding-right: 6px;
    line-height: 1.5;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(248, 231, 28) 48%, rgb(255, 255, 255) 48%);
  }

  &__text {
    opacity: 0.5;
    position: relative;
    margin-left: 44px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      background-image: url(../images/message-info-icon.svg);
      width: 14px;
      height: 14px;
      left: -24px;
      top: 2px;
    }
  }
}
