@font-face {
  font-family: HarmoniaSans;
  src: url(../fonts/HarmoniaSansProCyr-Regular/HarmoniaSansProCyr-Regular.eot);
  src: url(../fonts/HarmoniaSansProCyr-Regular/HarmoniaSansProCyr-Regular.otf);
  src: url(../fonts/HarmoniaSansProCyr-Regular/HarmoniaSansProCyr-Regular.svg);
  src: url(../fonts/HarmoniaSansProCyr-Regular/HarmoniaSansProCyr-Regular.ttf);
  src: url(../fonts/HarmoniaSansProCyr-Regular/HarmoniaSansProCyr-Regular.woff);
}


html {
  font-family: HarmoniaSans;
  color: #11223E;
  font-size: 14px;
}

