.section {
  padding-top: 60px;
  padding-bottom: 60px;
  &--dark {
    background-color: #343235;
    .heading, 
    .side {
      color: #EEE9E6;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .text {
      color: #FBF3F0;
    }
  }
}

.header {
  height: 96px;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &__image {
    width: 141px;
    height: 36px;
  }
  &__text {
    margin-left: 12px;
    position: relative;
    top: 1px;
  }
}

.phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  left: 28px;
  &::before {
    @include bg-image(20, 20, 100%, 0);
    left: -30px;
    top: 6px;
  };
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  position: relative;
  left: 28px;
  &::before {
    @include bg-image(18, 22, 72.28915662650603%, 88.88888888888889%);
    left: -30px;
    top: 3px;
  };
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__icon {
    width: 36px;
    height: 32px;
    cursor: pointer;
  }
}

.heading {
  font-weight: 400;
  font-size: 46px;
  line-height: 64px;
  text-transform: uppercase;
  &--light {
    color: #EEE9E6;
  }
} 

.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  p {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &--opaque {
    opacity: 0.6;
  }
  &--light {
    color: #EEE9E6;
  }
}

.link {
  text-decoration-line: underline;
  color: inherit;
}

.button {
  display: block;
  font-weight: 700;
  font-size: 12px;
  color: #A78587;
  height: 52px;
  border-top: 1px solid #A78587;
  border-bottom: 1px solid #A78587;
}

.slogan {
  background: url(../images/dark-bg.jpg) no-repeat;
  background-size: 100% 88%;
  padding-top: 80px;
  padding-bottom: 0;
  .heading {
    margin-bottom: 36px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .text {
    margin-bottom: 36px;
  }
  .button {
    width: 228px;
  }
}

.about {
  padding-top: 80px;
  &__heading {
    @include bg-heading-line('about');
  }
  &__first-text {
    margin-top: 34px;
    margin-bottom: 40px;
  }
  &__first-side {
    img {
      margin-bottom: 16px;
    }
    p {
      font-size: 14px;
      line-height: 24px;
    }
    a {
      color:#9A8584;
    }
  }
  &__highlighted {
    color: #FFFFFF;
    font-size: 26px;
    line-height: 48px;
    padding: 80px 99px;
    background-image: url(../images/about-center.jpg) no-repeat;
    margin-bottom: 44px;
  }
  &__second-text {
    margin-bottom: 44px;
  }
  &__second-side {
    font-size: 14px;
    line-height: 24px;
    margin-top: 100%;
    p {
      padding-left: 18px;
      border-left: 1px solid #A78587;
    }
    a {
      color:#9A8584;
    }
  }
}

.best {
  &__heading {
    @include bg-heading-2-lines('best');
  }
}

.product-card {
  display: flex;
  background: white;
  &--vertical {
    flex-direction: column;
  }
  &--horisontal {
    img {
      height: 100%;
      width: inherit;
    }
  }
  &__description {
    padding: 36px;
  }
  &__heading {
    font-family: 'Old_Standard';
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 20px;
  }
  &__price {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
  }
  &__note {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 20px;
  }
  &__order {
    color: #9A8584;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    position: relative;
    &::after {
      @include bg-image(81, 8, 0, 0);
      left: 80px;
      bottom: 3px;
    }
  }
}

.projects {
  padding-bottom: 120px;
  &__heading {
    @include bg-heading-2-lines('projects');
  }
  &__slider {
    margin-top: 44px;
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__slide {
    max-width: 968px;
    position: relative;
    .info {
      color: #F5F2ED;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100px;
      background: rgba(52, 50, 53, 0.9);
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        font-weight: 400;
        font-size: 32px;
        padding-left: 36px;
      }
      a {
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        margin-right: 84px;
        position: relative;
        &::after {
          @include bg-image(33, 8, 58.8235294117647%, 11.764705882352942%);
          top: 12px;
          right: -45px;
        }
      }
    }
  }
  &__arrow {
    background-color: #343235;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    position: relative;
    cursor: pointer;
    &::after {
      @include bg-image(33, 16, 58.8235294117647%, 26.666666666666668%);    
      top: 28px;
      left: 18px;
    }
    &--left::after {
      transform: rotate(180deg);
    }
  }
}

.mission {
  padding-top: 120px;
  padding-bottom: 72px;
  background-image: url(../images/mission-bg.jpg) 0 87% #343235 repeat-x;
  &__heading {
    @include bg-heading-2-lines('mission');  
  }
}

.team {
  padding-bottom: 120px;
  &__heading {
    @include bg-heading-2-lines('team');  
    .heading {
      max-width: 510px;
    }
  }
  &__side {
    font-size: 14px;
    line-height: 24px;
    color: #FBF3F0;
    margin-top: 26px;
  }
  &__text {
    margin-bottom: 20px;
    margin-top: 26px;
  }
}

.collections {
  padding-top: 120px;
  padding-bottom: 120px;
  &__heading {
    @include bg-heading-line('collections');
  }
  &__text {
    margin-top: 16px;
    margin-bottom: 20px;
  }
}

.footer {
  background-image: url(../images/dark-bg.jpg) ;
  &__heading {
    @include bg-heading-2-lines('talk'); 
    margin-bottom: 25px;
  }
  .text {
    color: #EEE9E6;
    margin-bottom: 24px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  .map {
    height: 100%;
    img {
      height: 100%;
    }
  }
}

.form {
  &__row {
    margin-top: 44px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__input {
    height: 50px;
    width: 100%;
    color: #F6EDE9;
    background: transparent;
    border: none;
    border-bottom: 1px solid #A78587;
    margin-bottom: 20px;
    &-wrapper {
      position: relative;      
      &::after {
        @include bg-image(6, 6, 100%, 28.571428571428573%);
        bottom: 23px;
        right: -9px;
      }
    }
    &::placeholder {
      color: #F6EDE9;
    }
  }
  &__select {
    width: 178px;
  }
  &__checkbox {
    label {
      font-size: 14px;
      line-height: 18px;
      color: white;
      max-width: 192px;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      &::before {
        @include bg-image(28, 28, 43.83561643835616%, 100%);
        left: -40px;
      } 
    }
    input {
      display: none;
      &:checked + label::before {
        @include bg-image(32, 28, 0, 100%);
      } 
    }
  }
  // &__select {
  //   position: relative;
  //   &::after {
  //     @include bg-image(14, 8, 93.10344827586206%, 29.41176470588235%);
  //     top: calc(50% - 4px);
  //     right: 18px;
  //   }
  //   select {
  //     appearance: none;
  //     height: 50px;
  //     width: 100%;
  //     background: transparent;
  //     font-size: 14px;
  //     color: white;
  //     padding-left: 20px;
  //     border: 1px solid #A78587;
  //     position: relative;
  //   }
  // }
}

