$font-heading: 'Old_Standard'; 
$font-text: 'Montserrat';

$bg-color-light: #EEE9E6;
$bg-color-dark: #343235;

$heading-color-light: #EEE9E6;
$text-color-light: #FBF3F0;
$text-color-dark: #695A59;

@mixin bg-icon($name) {
  background: url(../images/sprite/stack/sprite.svg##{$name}) no-repeat 50% 0/cover;
}

@mixin bg-before($w, $h) {
  display: block;
  position: absolute;
  content: '';
  width: $w + px;
  height: $h + px;
}
