extends ./common/layout.pug

block header 
  .header
    .row 
      form.form-search(action="#")
        input.form-search__input(type="text" placeholder="Поиск по запросу")
      .devices-buttons
        button.devices-buttons__button.devices-buttons__button--active iPhone/iPod
        button.devices-buttons__button iPad
      .download-buttons
        a.download-buttons__button.download-buttons__button--download Скачать .CSV
        a.download-buttons__button.download-buttons__button--add-query Добавить запрос
    .row
      .message
        span.message__first 45% в ТОП-3
        span.message__text Вы недополучаете 450 инсталлов в день

block table 
  